* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.product-card {
  background: white;
  
  max-width: 200px;
  box-shadow: 0 0 2px grey;
  overflow: hidden;
  border-radius: 5px;
}

.product-card__content {
  display: flex;
  max-width: 200px;
  height: 300px;
  overflow: hidden;

  position: relative;
}

.product-card__image {
  position: static;
  height: 200px;
  display: flex;
  align-items: center;
  background: white;
  justify-content: center;
  margin-top: 15px;
}
.product-card__image img {
  width: 100%;
  object-fit: contain;
  background: white;

  /* height: 100%; */
}

.product-card__details {
  position: absolute;
  height: 50%;
  width: 100%;
  left: 0;
  background: white;
  top: 75%;
  border-radius: 5px 5px 0px 0px;
  transition: top 0.5s ease;
  box-shadow: 0 0 2px grey;
}

.product-card__content:hover .product-card__details {
  top: 50%;
}

.product-card__details__head,
.product-card__details__tail {
  position: absolute;
  height: 50%;
  width: 100%;
  padding: 5px;
}
.product-card__details__tail {
  top: 50%;
  display: flex;
}
.product-card__details__group {
  flex-grow: 1;
}
.product-card__price {
  font-weight: bold;
}
.product-card__name {
  font-size: 0.9rem;
  font-weight: bold;
}
.product-card__detail {
  font-size: 0.8rem;
  color: grey;
}
.product-card__content:hover .product-card__overlay {
  opacity: 1;
}
.product-card__overlay {
  display: flex;
  transition: 1s ease;
  background: rgba(180, 5, 5, 0.562);
  position: absolute;
  height: 100%;
  justify-content: center;
  cursor: pointer;
  align-items: flex-start;
  width: 100%;
  opacity: 0;
}
.product-card__overlay button {
  padding: 6px;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  outline: none;
  color: white;
  border: 2px solid white;
  margin-top: 50px;
}

.product-card__overlay button:hover {
  background: red;
  border-color: red;
}

.product-card:hover {
  box-shadow: 0 0 10px 3px rgb(207, 207, 207);
}

.product-card__control {
  position: relative;
  z-index: 1;
  display: flex;
  box-shadow: 0px -1px 7px #c2c2c2;
  border-radius: 5px;
}
.product-card__control__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 5px;
  cursor: pointer;
}

.product-card__control__item:hover {
  background: rgb(241, 241, 241);
}
.product-card__control__item:hover .cart-icon {
  fill: rgb(0, 0, 196);
}
.product-card__control__item:hover .heart-icon {
  fill: rgb(196, 0, 0);
}
.product-card__control__item:hover .rate-icon {
  fill: rgb(0, 196, 49);
}
.product-card__control__item:hover .share-icon {
  fill: rgb(141, 0, 196);
}

.product-card__control__item[data-tooltip] {
  position: relative;
}
.product-card__control__item[data-tooltip]:hover:before {
  content: attr(data-tooltip);
  position: absolute;
  top: calc(-100% + 10px);
  background: black;
  color: white;
  padding: 2px 10px;
  border-radius: 10px;
  font-size: 0.8em;
}
